user	MAILER-DAEMON	mks
user	MAILER-D	mks
user	Postmaster	mks
user	postmaster	mks
user	Postmast	mks
user	postmast	mks
user	root		mks
user	admin		mks
user	adm		mks
user	sysadm		mks
user	com		mks
user	news		mks
user	netnews		mks
user	usenet		mks
user	hostmaster	mks
user	hostmast	mks
user	uucp		mks
user	nuucp		mks
user	DAEMON		mks
user	daemon		mks
